name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CI: true

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Testing on Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: "npm"
      - name: Version Check
        run: node -v && npm -v
      - name: Install Dependencies
        run: npm ci
      - name: "lint codes"
        run: npm run lint
      - name: Running Test
        run: npm run test:coverage
        env:
          CI: true
          NODE_ENV: test
      - name: Upload coverage reports to Coveralls
        uses: coverallsapp/github-action@v2
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
