name: Coverage Report

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches-ignore:
      - "*"

env:
  CI: true

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Testing on Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: "npm"
      - name: Version Check
        run: node -v && npm -v
      - name: Install dependencies
        run: npm ci
      - name: Run Test
        run: npm test
        env:
          CI: true
          NODE_ENV: test
      - name: Upload coverage reports to Coveralls
        uses: coverallsapp/github-action@v2
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
